@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');

:root {
  --font-clash-display: 'Clash Display', sans-serif;
  --font-satoshi: 'Satoshi', sans-serif;
}

/* Optional: Add this for better font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

select option:disabled {
  background-color: #f3f4f6;
  color: #6b7280;
}

select option:disabled:hover {
  background-color: #f3f4f6;
}